.overlaymenu {
  background: url("../imgs/backgrounds/landing.jpg")
}
#show-menu
{
margin-top: 100px;
margin-bottom: 160px;
color: white;
background-size: cover;
text-align: center;
}
.col-md-3
{
padding-left:0;
padding-right:0;
}
.col-md-6 .Fastfood-text {
  margin-left: 60px;
  margin-right: 140px;
}
.Fastfood-text p{
  font-size: 14px;
  font-style: normal;
}
.Fastfood-pics {
  color: white;
  background-color: white;
  box-shadow: 2px 4px 12px 2px #DCDCDC;
  border-radius: 0px;
  padding: 20px;
}
.Drinks-pics {
  color: white;
  background-color: white;
  box-shadow: 2px 4px 12px 2px #DCDCDC;
  border-radius: 0px;
  padding: 20px;
}
.Drinks-text {
  text-align: right;
}
.Drinks-text p{
  font-size: 14px;
  font-style: normal;
}
.col-md-5 .Drinks-text {
  margin-right: 60px;
  margin-left: 140px;
}
.border {
  margin-top: 20px;
}
.btn-outline-primary {
  border-color: #F15A29;
  color: #F15A29;
}
button {
  font-size: 20px;
}
.menu {
background: url("../imgs/backgrounds/foodsBg.jpg")
}
.left {
  
}
