body {
  font-family: 'Scope One', serif;
}

#show-menu {
  background-image: url("../imgs/backgrounds/landing.jpg");
  padding: 150px;
  background-size: cover;
  background-attachment: fixed;
}

.show-menu-items {
  margin: 0% 20% 0% 20%;
  text-align: center;
}

#breakfast {
  text-align: center;
  color: white;
}

#breakfast h4 {
  position: absolute;
  top: 40%;
  width: 100%;
}

#breakfast:hover h4 {
  background: rgba(255, 255, 255, 0.3);
  color: black;
  overflow: hidden;
  padding: 26% 26%;
  top: 0;
  transition: .5s;
}

#lunch {
  text-align: center;
  color: white;
  position: relative;
  width: 100%;
}

#lunch h4 {
  position: absolute;
  top: 40%;
  width: 100%;
}

#lunch:hover h4 {
  background: rgba(255, 255, 255, 0.3);
  color: black;
  overflow: hidden;
  padding: 26% 26%;
  top: 0;
  transition: .5s;
}

#dinner {
  text-align: center;
  color: white;
  position: relative;
  width: 100%;
}

#dinner h4 {
  position: absolute;
  top: 40%;
  width: 100%;
}

#dinner:hover h4 {
  background: rgba(255, 255, 255, 0.3);
  color: black;
  overflow: hidden;
  padding: 26% 26%;
  top: 0;
  transition: .5s;
}

#breakfast h4, #lunch h4, #dinner h4 {
  text-align: center;
}

#happy-hour {
  background-color: #ebedef;
  padding: 8.5%;
  box-sizing: border-box;
  text-align: center;
}

#party-time {
  background-color: #F15A29;
  padding: 8.5%;
  box-sizing: border-box;
  text-align: center;
}

.col-md-3 {
  padding-left: 0%;
  padding-right: 0%;
}

.Fastfood-text {
  margin-left: 10%;
  margin-right: 20%;
  color: rgba(0, 0, 0, 0.7);
}

.Fastfood-text p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  font-style: normal;
}

.Fastfood-pics {
  color: white;
  background-color: white;
  box-shadow: 2px 2px 20px #DCDCDC;
  border-radius: 0%;
  padding: 3%;
}

.Drinks-pics {
  color: white;
  background-color: white;
  box-shadow: 2px 2px 20px #DCDCDC;
  border-radius: 0%;
  padding: 1%;
  margin-right: 0%;
}

.Drinks-text {
  text-align: right;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 4%;
  margin-right: 6%;
}

.Drinks-text p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  font-style: normal;
}

.border {
  margin-top: 20px;
}

.btn-outline-primary {
  border-color: #F15A29;
  color: #F15A29;
}

button {
  font-size: 20px;
}

.btn-primary {
  background-color: #F15A29;
  border-color: #F15A29;
}

.options-bg {
  background: url(../imgs/backgrounds/foodsBg.jpg);
  background-attachment: fixed;
}

.options-bg .container-fluid {
  padding-top: 5px;
  padding-bottom: 5px;
}

.options-bg .jumbotron {
  border-radius: 0%;
  background-color: white;
  margin: 12%;
  padding: 0%;
  text-align: center;
}

.options-bg li {
  font-size: 20px;
}

.options-bg .foods p {
  color: black;
  margin-top: 5%;
  margin-bottom: 0%;
  color: #F15A29;
  font-weight: 500;
  font-size: 18px;
}

.options-bg .fa-chevron-left {
  position: absolute;
  top: 50%;
  margin-left: -25em;
}

.options-bg .fa-chevron-right {
  position: absolute;
  top: 35%;
  width: 15%;
}

.nav {
  background-color: #D3D3D3;
}

.nav-tabs .nav-link {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0.01em;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  padding-top: 7%;
  padding-bottom: 7%;
}

.btn-outline-info {
  color: #F15A29;
  border-color: #F15A29;
}

.btn-outline-info:hover {
  color: white;
  background-color: #F15A29;
  border-color: #F15A29;
}

.foods {
  margin-top: 5%;
  padding-bottom: 3%;
  padding-left: 7%;
  padding-right: 7%;
}

.customers {
  background-color: white;
  padding: 2.5%
}

.customers .jumbotron {
  background-color: white;
  box-shadow: 2px 4px 12px 2px #DCDCDC;
  border-radius: 0px;
  margin: 5% 7%;
  padding: 3% 3% 3%;
}

.customers .col-md-5 {
  border-style: solid;
  border-width: thin;
  border-color: rgba(153, 153, 153, 0.4);
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

.txt-orange {
  color: #F15A29;
}

.txt-center {
  text-align: center;
}

.about-menu-text {
  text-align: justify;
  font-size: 16px;
  padding-left: 5%;
}

.happy-customers-text {
  text-align: center;
  font-size: 16px;
  padding: 0% 6.5%;
}

.footer {
  background-image: url(../imgs/backgrounds/subscribe.jpg);
  text-align: center;
  padding: 7.7%;
}

.footer form {
  align-items: center;
  margin: 0% 30%;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 40px;
  border: 0;
}

.form-control::placeholder {
  text-align: left;
  color: white;
  opacity: 0.8;
}

.footer-finish {
  background-color: #F15A29;
  padding: 5% 5% 1%;
  text-align: center;
}

.txt-white {
  color: white;
}

.centre-align {
  align-items: center;
}
